{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    {% set gender = 'masculine' %}
    {% if character.kind == 'Dame' or character.kind == 'Ennemie' %}
        {% set gender = 'feminine' %}
    {% endif %}
    <h1>Character</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ character.id }}</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ character.identifier }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ character.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ character.surname }}</td>
            </tr>
            <tr>
                <th>Caste</th>
                <td><a href="{{ path('character_api_html_caste_gt',{'caste':character.caste}) }}"> {{ character.caste }}</a></td>
            </tr>
            <tr>
                <th>Knowledge</th>
                <td>{{ character.knowledge }}</td>
            </tr>
            <tr>
                <th>Life</th>
                <td><a href="{{ path('character_api_html_life_gt',{'life':character.life}) }}"> {{ character.life }}</a></td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ character.image }}</td>
            </tr>
            <tr>
                <th>Kind</th>
                <td>{{ character.kind }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td><a href="{{ path('character_api_html_intelligence_gt',{'lvl':character.intelligence}) }}"> {{ character.intelligence }}</a></td>
            </tr>
            <tr>
                <th>Creation</th>
                <td>{{ character.creation ? character.creation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modification</th>
                <td>{{ character.modification ? character.modification|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="card px-4 py-5 my-5 text-center">
        <div class="nom">{{character.name}}</div>
        <div class="image">
            <img src="{{character.image}}">
        </div>
        <style>
            .prop{
                padding: 15%;
            }
        </style>
        <p class="description px-4 py-5 my-5 text-center">
            {{character.name}} est {{ feminisation(gender, 'un') }} {{character.caste}}, {{ feminisation(gender, 'il') }} est {{ feminisation(gender, 'connu') }} sous le nom de "{{character.surname}}".<br>
            {{ feminisation(gender, 'Il') }} a une intelligence de {{character.intelligence}} et {{character.life}} points de vie.<br>
            {{ feminisation(gender, 'Il') }} est {{feminisation(gender,'fort')}} dans les {{character.knowledge}}.<br>
            {{ feminisation(gender, 'Il') }} a une force de {{ character|force }} points.
            {{ feminisation(gender, 'Il') }} fait partie du jeu La Guilde des Seigneurs !
        </p>

    </div>

    <a href="{{ path('character_api_html_index') }}">back to list</a>

    <a href="{{ path('character_api_html_edit', {'identifier': character.identifier}) }}">edit</a>

    {{ include('character_api_html/_delete_form.html.twig') }}
{% endblock %}
